<script>
function init(){
$('.hide').hide();
for(i=0;i<fz.players.length;i++){
	$('#player'+(i+1)).html(fz.players[i]);
	$('#player'+(i+1)).show();
	$('#edit'+(i+1)).show();
	$('#delete'+(i+1)).show();
	} 
	if(fz.players.length>=8){
		$('#addPlayer').hide();
	}
	else{
		$('#addPlayer').show();
	}
	$('#gameName').html(fz.game);
	$('#playbutton').html('play '+fz.game);
}
function editPlayer(edit){
	$('#editPlayerName').html(fz.players[edit-1]);
	$('#configure').show();
	fz.editing=edit-1;
}
function deletePlayer(edit){
	fz.players.splice((edit-1),1);
	fz.save();
	init();
}
function changeName(){
	fz.players[fz.editing]=prompt('new nickname','');
	fz.save();
	$('#player'+(fz.editing+1)).html(fz.players[fz.editing]);
	$('#editPlayerName').html(fz.players[fz.editing]);
}
function addPlayer(){
	newName=('Player'+(fz.players.length+1));
	fz.players.push(newName);
	init();
	fz.save();
}
function openGame(){
	if(fz.credits==0){
		window.location.assign('/top_up');
	}
	else{
		window.location.assign('/games/'+fz.game+'/rules');
	}
}
function hideConfigure(){
	$('#configure').hide();
}
</script>



<h2 id='gameName'></h2>
<table>
<% for(i=1;i<=8;i++){%>
<tr><td><div class='hide' id='player<%= i %>'></div></td>
<td><a class='hide button' id='edit<%= i %>' href='javascript:editPlayer(<%= i %>);'>edit</a></td>
<td><a class='hide button' id='delete<%= i %>' href='javascript:deletePlayer(<%= i %>);'>remove</a></td></tr>
<%}%>
</table>
<a id='addPlayer' class='button' href='javascript:addPlayer()'>add player</a>
<a id='playbutton' class='button' href='javascript:openGame();'></a>

<div id='configure' style="display: none;">
<a id='editPlayerName' class='button' href='javascript:changeName();'></a>
<a class='bottom right button' href="javascript:hideConfigure()">done</a>
</div>
